* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

line {
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.custom-ml {
    margin-left: 500px;
    /* or a larger value */
}

.w-custom {}